.features {
  display: flex;
  align-items: center;
  padding: 3.5rem 0;
  width: 100%;
}

.features a {
  text-decoration: none;
  color: inherit;
}

.features a:hover {
  color: #000000;
  text-shadow: 0 0 8px rgba(52, 152, 219, 0.2), 0 0 30px rgba(52, 152, 219, 0.3);
}

.featureSvg {
  height: 100px;
  width: 100px;
}
